    body {
        margin: 0;
        font-family: arial, helvetica, sans-serif;
        color: white;
    }

    #topbar {
        background-color: #7a0000;
        width: 100%;
        height: 40px;
    }

    .fixedwidth {
        width:1075px;
        margin: 0 auto;
    }

    #logodiv {
        padding-top: 4px;
        float: left;
        border-right: 1px solid #990000;
        padding-right: 10px;
    }

    #logindiv {
        float: left;
        padding: 13px 80px 9px 10px;
        margin-left: 10px;
        color: white;
        font-weight: bold;
        border-right: 1px solid #990000;
    }

    #logindiv i {
        padding-right: 5px;
    }

    #topmenudiv {
        float: left;
    }

    #topmenudiv ul {
        margin: 0;
        padding: 0;
    }

    #topmenudiv li {
        float: left;
        list-style: none;
        font-weight: bold;
        padding: 13px 20px 9px 20px;
        border-right: 1px solid #990000;
        height 100%;
    }

    #searchdiv {
        float: left;
        width: match-child;
        padding: 7px 0 0 10px;
    }

    #searchdiv input {
        height: 23px;
        padding-left: 5px;
        border: none;
        background-image:url("images/magnify.png");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: right;
    }

    .break {
        clear: both;
    }

    #newsbar {
        background-color: #990000;
        width: 100%;
        height: 90px;
    }

    #placeholder {
        background-image: url("images/globe.jpg");
        background-position: right;
        background-size: 600px 600px;
        background-repeat: no-repeat;
    }   

    #newsbar p {
        float: left;
        margin: 0;
        padding-top: 10px;
    }

    #newsheader {
        font-size: 3em;
    }

    #uk {
        font-size: .7em;
        padding-left: 20px;
    }

    #rss {
        float: right;
        margin-top: 36px;
    }

    #rss img {
        height: 16px;
        width: 16px;
    }

    #topicmenu {
        width: 1075px;
        height: 25px;
        background-color: #550000;
    }

    #topicmenu ul {
        float: left;
        padding: 5px 0 0 5px;
        height: 20px;
        margin: 0;
    }

    #topicmenu li {
        list-style: none;
        background-color: none;
        padding-right: 5px;
        padding-left: 5px;
        float: left;
        font-size: .8em;
        border-right: 1px solid #990000;
    }

    .selected {
        background-color: #ededed;
        color: #666666;
        height: 20px;
        position: relative;
        top: -5px;
        padding-top: 5px;
    }

    #content {
        color: #535353;
        font-size: .9em;
    }
    
    .bold {
        font-weight: bold;
    }

    #content h1 {
        color: #5858FA; 
    }

    #content img {
        float: left;
    }

    #middle-bar {
        width: 250px;
        float: left;
        position: relative;
        padding-left: 15px;
    }

    #middle-bar p {
        margin: 0;
    }

    .links {
        padding-top: 5px;
    }

    .links a {
        line-height: 1.5em;
    }

    a {
        text-decoration: none;
    }

    .video {
        background-image: url("images/play-button.png");
        background-position: left;
        background-size: 20px 16px;
        background-repeat: no-repeat;
        padding-left: 22px;
    }

    a:hover {
        text-decoration: underline;
    }

    .audio {
        background-image: url("images/audio.jpg");
        background-position: left;
        background-size: 18px 14px;
        background-repeat: no-repeat;
        padding-left: 22px;
    }

    #watchlisten {
        position: relative;
        margin-top: -75px;
        background-color: #eeeeee;
        float: right;
        width: 400px;
    }

    #watchlisten h2 {
        color: #535353;
        font-size: 1.7em;
        margin: 0;
        padding: 10px;
    }

    .slider {
        padding: 10px;
        display: inline;
        float: right;
    }

    .square {
        background-color: #535353;
        margin: 15px 3px 0px 0px;
        float: left;
        width: 10px;
        height: 10px;
    }

    .on {
        background-color: orange;
    }

    .skinny-rectangle-left {
        float: left;
        margin: 0px 1px 0px 0px;
        background-color: #535353;
        width: 24px;
        height: 150px;
    }        
    
    .skinny-rectangle{
        float: left;
        margin: 0;
        position: relative;
        background-color: #535353;
        width: 25px;
        height: 150px;
    }        

    .wlblock{
        float: left;
        border-right: 1px solid white;
        background-color: #d1700e;
        width: 174px;
    }

    .wlblock a {
        float: left;
        color: white;
        margin: 9px 10px 9px 10px;
    }

    .play {
        display: block;
        position: absolute;
        margin-top: -15px;
        opacity: .8;
    }

    #live {
        margin: 0;
        padding: 0px 10px 0px 10px;
    }

    #live li {
        list-style: none;
        background-image: url(images/live.png);
        background-position: left;
        background-size: 40px 20px;
        background-repeat: no-repeat;
        padding: 10px 0px 10px 50px;
        font-size: 1.2em;
    }

    .bb {
        border-bottom: 1px solid #d0d0d0;
    }
